#pagina
{
	padding: 2em 0em 5em 0em;
	text-align: center;
	border:2px solid;
	border-color: #ccc;
	border-radius: 5px;
}
.cssLogo{
	border: #79C255 solid 1px;
	border-radius: 10px;
	padding: 7px;
}
.boxLogin{
	flex: 2;
	flex-direction: column;
	border: #656565;
	border-radius: 20px;
	border-width: 5px;

}
.componenteInputLogin1{
	margin-left: 16px; 
	border-color: #ccc; 
	border-radius: 15px;
}
.componenteInputLogin2{
	margin-left: 10px; 
	border-color: #ccc; 
	border-radius: 15px;
}
.btns-login{
	align-items: center;
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: center;
}
.btn-login{
	background: #79C255 !important;
	margin: 10px;
	border-radius: 5px;
	padding: 5px;
	width: 10%;
	color: white;
}

.btn-cadastrar{
	background: #79C255 !important;
	margin: 10px;
	text-decoration: none;
	border-radius: 5px;
	padding: 5px;
	width: 105%;
	color: white;
}
.btns-nav a {
	color: rgb(255, 255, 255) !important;

}
.fundoEscolhasNav a {
	background-color: #79C255 !important;
	color: rgb(255, 255, 255);
	padding: 8px;
	border-top: 1px solid rgb(255, 255, 255);
	margin-left: 13px;

}
.boxCadastro{
	display: grid;
	border: #656565;
	border-radius: 20px;
	border-width: 5px;
	grid-template-columns: auto;
	padding: 10px;
	
}
.itemBoxCadastro{
	padding: 20px;
}
.componenteInputCadastro{
	margin-left: 16px; 
	border-color: #ccc; 
	border-radius: 15px;
}
.selectBoxCurso{
	border-radius: 10px;
}
.gridCriandoChatbot{
	display: grid;
	grid-template-columns: auto;
	padding: 20px;
	border-bottom: 2px solid #79C255;
	border-radius: 15px;
}
.navLoginRegistro{
	margin: 2px;
	padding: 3px;
	color: rgba(15, 24, 33, 0.85);
	border: 2px solid rgba(15, 24, 33, 0.85);;
	border-radius: 4px;
}
.header-card-estilo{
	padding: .75rem 1.25rem;
	margin-bottom: 0;
	color: white;
	background-color: #79c255;
	border-bottom: 1px solid rgba(0,0,0,.125);
}
.botao-login-estilo{
	color: white;
	background-color: #79c255;
}